{% extends 'base.html' %}

{% block body%}
    <!-- Hero Start -->
    <div class="container-fluid bg-primary py-5 bg-hero mb-5">
        <div class="container py-5">
            <div class="row justify-content-start">
                <div class="col-lg-8 text-center text-lg-start">
                    <h1 class="display-1 text-white mb-md-4">Sign in</h1>
                    <a href="" class="btn btn-primary py-md-3 px-md-5 me-3">Home</a>
                    <a href="" class="btn btn-secondary py-md-3 px-md-5">Sign in</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->


    <!-- Contact Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="mx-auto text-center mb-5" style="max-width: 500px;">
                <h6 class="text-primary text-uppercase">Sign in</h6>
                <h1 class="display-5">Register</h1>
            </div>
            <div class="row g-0">
                <div class="col-lg-7">
                    <div class="bg-primary h-100 p-5">
                        <form method="POST" action="{% url 'register' %}">
                            {% csrf_token %}
                            <div class="row g-3">
                                <div class="col-6">
                                    <input type="text" class="form-control bg-light border-0 px-4" placeholder="Your Name" style="height: 55px;">
                                </div>
                                <div class="col-6">
                                    <input type="email" class="form-control bg-light border-0 px-4" placeholder="Your Email" style="height: 55px;">
                                </div>
                                <div class="col-6">
                                    <input type="text" class="form-control bg-light border-0 px-4" placeholder="Phone Number" style="height: 55px;">
                                </div>
                                <div class="col-6">
                                    <input type="password" class="form-control bg-light border-0 px-4" placeholder="password" style="height: 55px;">
                                </div>
                                <div class="col-6">
                                    <textarea class="form-control bg-light border-0 px-4 py-3" rows="2" placeholder="Address"></textarea>
                                </div>
                                <div class="col-6">
                                    <input type="text" class="form-control bg-light border-0 px-4" placeholder="Zip code" style="height: 55px;">
                                </div>
                                <div class="col-6">
                                    <select name="role" class="form-control bg-light border-0 px-4" style="height: 55px;">
                                        <option value="" selected disabled>Select Role</option>
                                        {% for role_value, role_label in roles %}
                                            <option value="{{ role_value }}">{{ role_label }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-secondary w-100 py-3" type="submit">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="bg-secondary h-100 p-5">
                        <h2 class="text-white mb-4">Get In Touch</h2>
                        <div class="d-flex mb-4">
                            <div class="bg-primary rounded-circle d-flex align-items-center justify-content-center" style="width: 60px; height: 60px;">
                                <i class="bi bi-geo-alt fs-4 text-white"></i>
                            </div>
                            <div class="ps-3">
                                <h5 class="text-white">Our Office</h5>
                                <span class="text-white"> Bhavan's Campus, Munshi Nagar, Andheri West, Mumbai, Maharashtra 400058</span>
                            </div>
                        </div>
                        <div class="d-flex mb-4">
                            <div class="bg-primary rounded-circle d-flex align-items-center justify-content-center" style="width: 60px; height: 60px;">
                                <i class="bi bi-envelope-open fs-4 text-white"></i>
                            </div>
                            <div class="ps-3">
                                <h5 class="text-white">Email Us</h5>
                                <span class="text-white">kisanBazar@gmail.com</span>
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="bg-primary rounded-circle d-flex align-items-center justify-content-center" style="width: 60px; height: 60px;">
                                <i class="bi bi-phone-vibrate fs-4 text-white"></i>
                            </div>
                            <div class="ps-3">
                                <h5 class="text-white">Call Us</h5>
                                <span class="text-white">099303 62034</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->
    {% endblock body%}